<div>

    <p class="reponame">User/{{name}}</p>

    <nav>

    <ul>
        <div>
            <h2 >Issues from Github:</h2>
            <li *ngFor="let issue of issues" (click)="navigateToIssue(issue)" class="list-item">
                <span class="list-text">{{issue.title}} </span>
            </li>
        </div>
    </ul>

    <ul>
      <div>
          <h2 >Issues from GitTracker:</h2>
          <li *ngFor="let dbissue of issues" class="list-item">
              <span class="list-text">{{dbissue.title}} </span>
          </li>
          <button class="btn btn-primary" (click)="open(content)">Add new issue</button>
          <div>
            <form class="form-issue" (ngSubmit)="newIssue()">
              <h2 class="form-issue-heading">Create new Issue on GitTracker</h2>
              <label for="title" class="sr-only">Title</label>
              <input type="text" id="title" class="form-control" name="title" [(ngModel)]="issue.title" placeholder="Title"
                required autofocus>
              <label></label>
              <label for="password" class="sr-only">Password</label>
              <input type="password" id="password" class="form-control" name="password" [(ngModel)]="user.password" placeholder="Password"
                required>
                <div class="col-md-offset-2 mar_top">
                  <button class="btn btn-success btn-block" id="sign_in" type="submit">Sign in</button>
                  <button class="btn btn-primary btn-block" id="register" (click)="openRegistration()">Sign up</button>          
                </div>
              </form>
          </div>
      </div>
  </ul>
  
    </nav>
  
</div>


