<div>

    <p class="reponame">User/{{name}}</p>

    <nav>

    <ul>
        <div>
            <h2 >Issues from github:</h2>
            <li *ngFor="let issue of issues" (click)="navigateToIssue(issue)" class="list-item">
                <span class="list-text">{{issue.title}} </span>
            </li>
        </div>
    </ul>

    <ul>
      <div>
          <h2 >Issues from database:</h2>
          <li *ngFor="let dbissue of issues" class="list-item">
              <span class="list-text">{{dbissue.title}} </span>
          </li>
      </div>
  </ul>
  
    </nav>
  
</div>


